<html>
    <head>
        <title>Game board</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </head>
    <body>
        <button class="toggle-game-menu">Menu</button>
        <div class="game-menu">
            <div class="menu">
                <button id="sameDeviceBtn" class="menu-button">Start</button>
                <label for="sameDeviceBtn">Players using the same device</label>
                <button id="differentDevicesBtn" class="menu-button">Invite</button>
                <label for="differentDevicesBtn">Players using two devices</label>
                <h1 id="ws-id">Tell this number to the second player so he can join you.</h1>
            </div>
        </div>
        
        <script type='module' src="{{ url_for('static', path='/index.js') }}"></script>
        <script type='module' src="{{ url_for('static', path='/ws.js') }}"></script>
    </body>
</html>