<html>
    <head>
        <title>Game board</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <div class="menu-btns">
                <button id="sameDeviceBtn" class="menu-button">One device</button>
                <button id="firstDevicesBtn" class="menu-button">Invite</button>
                <button id="secondDeviceBtn" class="menu-button">Join</button>
            </div>
            <div class="board" id="board"></div>
            <div class="game-menu invisible underlayer">
                <div class="menu">
                </div>
            </div>
        </div>
        <script type='module' src="{{ url_for('static', path='/index.js') }}"></script>
        <script type='module' src="{{ url_for('static', path='/ws.js') }}"></script>
    </body>
</html>